/* 
Primary - color: #22AA86
Secondary - color: #9CC026
color-3: #44514E
color-sbg: #F2F4F4
color-sbg-alt: #fff
color-p-dark: rgba(0,0,0,0.60)
color-h-dark: rgba(0,0,0,0.80)
color-p-light: rgba(255,255,255,0.80)
color-h-light: rgba(255,255,255,0.95)
 */

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    color: #9CC026;
}

.main {
    position: relative;
    height: 80vh;
    width: 100%;
}

.main img {
   filter: blur(0.8px);
   width: 100%;
   height: 100%;
}

.head-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -60%);
    width: 80%;
    height: 50%;
    background: rgba(255,255,255,0.80);
    text-align: center;
    box-shadow: 1px 5px 30px 10px black; 
    display: flex;
    align-items: center;
}

.head-info p {
    color: #44514E;
    font-size: 40px;
}

.head-info button {
    width: 50px;
    height: 10px;
}

.information {
    margin: 15px 0px 0px 0px ;
}

.information p {
    font-size: 18px;
    background: rgba(255,255,255,0.95);
    color: black;
    text-justify:inter-word;
}

.imgg {
    display:flex;
    align-items: center;
    justify-content: center;
}

.information img, .ben{
    width: 100%;
}

span {
    color: green;
    font-size: 25px;
    font-weight: 600;
}

.hidden {
    opacity: 0;
    transition: all 2s;
    transform: translateX(-500px);
}

.show {
    opacity: 1;
    transform: translateX(0px);
}


.hide {
    opacity: 0;
    transition: all 3s;
}

.shw {
    opacity: 1;
}

@media screen and (max-width:660px) {
    .title p {
        font-size: 30px;
    }
    .information p span {
        font-size: 18px;
    }
    .information p {
        font-size: 16px;
    }
}