/* start header */
.logo_inframe a {
  position: relative;
  padding: 7px 7px;
  color: var(--color-h-light);
  font-size: 30px;
}
#nav li a {
  padding: 15px 30px;
  transition: all 0.3s;
  margin-top: 10px;
}

#nav li {
  transition: all 0.3;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.6;
  text-transform: capitalize;
  position: relative;
}

.collapse a:hover {
  color: #22aa86 !important;
}

.collapse {
  z-index: 9999;
}

.logo_inframe * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.logo_inframe {
  overflow: visible;
}

.logo_inframe a:before,
.logo_inframe a:after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  color: var(--color-h-light);
}

.logo_inframe a:before {
  right: 0;
  top: 0;
  border-right: 3px solid var(--color-h-light);
  border-top: 3px solid var(--color-h-light);
  -webkit-transform: translate(-100%, 50%);
  transform: translate(-100%, 50%);
}

.logo_inframe a:after {
  left: 0;
  bottom: 0;
  border-left: 3px solid var(--color-h-light);
  border-bottom: 3px solid var(--color-h-light);
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  color: var(--color-h-light);
}

.logo_inframe a:hover::before,
.logo_inframe a:hover:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
  color: var(--color-h-light);
}

.logo_inframe:hover {
  color: var(--color-h-light);
}


#inframe-logo {
  font-size: 35px;
}
/* end header */