/* start globle rule */
@font-face {
  font-family: "cairo";
  src: url("../cairo font/static/Cairo-Regular.ttf");
}

:root {
  --primary-color: #22aa86;
  --secondary-color: #9cc026;
  --color-3: #44514e;
  --color-sbg: #f2f4f4;
  --color-sbg-alt: #fff;
  --color-p-dark: rgba(0, 0, 0, 0.6);
  --color-h-dark: rgba(0, 0, 0, 0.8);
  --color-p-light: rgba(255, 255, 255, 0.8);
  --color-h-light: rgba(255, 255, 255, 0.95);
}

a {
  text-decoration: none;
  color: white;
}

.top {
  padding-top: 90px;
}

body {
  scroll-behavior: smooth;
  font-family: "cairo", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-p-dark);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* end globle rule */
