@media (min-width: 600px) {
  .contain {
    display: grid;
    grid-template-columns: 550px 550px;
    grid-template-areas:
      "title title"
      "line line"
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card7";
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    gap: 5px;
    padding-bottom: 35px;
  }
}

@media (max-width: 600px) {
  .contain {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title "
      "line"
      "card1 "
      "card2 "
      "card3"
      "card4"
      "card5"
      "card6";
  }
  .box1 {
    justify-self: center;
  }
  form {
    width: 300px;
  }
}
.title {
  color: #22aa86;
  margin: auto;
  text-align: center;
  font-size: 40px;
  margin: 5px;
}
.card1 {
  grid-area: card1;
}
.card2 {
  grid-area: card2;
}
.card3 {
  grid-area: card3;
}
.card4 {
  grid-area: card4;
}
.card5 {
  grid-area: card5;
}
.card6 {
  grid-area: card6;
}
.card7 {
  grid-area: card7;
  justify-self: center;
}

.box1 {
  display: grid;
  grid-template-columns: 150px 120px 160px;
  grid-template-areas:
    "img text1 text1"
    "img text2 text2"
    "img par par"
    "img bot bot";
  background-color: #eee;
  width: fit-content;
  padding: 15px 10px 15px 10px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: 20px;
  margin: 10px;
}

.box1 h6 {
  grid-area: text1;
  /* letter-spacing: 2px; */
  font-weight: 500;
  margin: 0;
  margin-top: 20px;
}
.box1 h1 {
  grid-area: text2;
  margin: 0;
  color: #22aa86;
}
.box1 p {
  grid-area: par;
  font-size: 12px;
}
.img1 {
  grid-area: img;
}
.img1 img {
  width: 85%;
  margin-top: 25px;
  border-radius: 50%;
}
.box1 button {
  grid-area: bot;
  width: 50%;
  padding: 8px 10px;
  height: 100%;
  color: #22aa86;
}