/* start globle rule */
@font-face {
  font-family: "cairo";
  src: url("../cairo font/static/Cairo-Regular.ttf");
}

:root {
  --primary-color: #22aa86;
  --secondary-color: #9cc026;
  --color-3: #44514e;
  --color-sbg: #f2f4f4;
  --color-sbg-alt: #fff;
  --color-p-dark: rgba(32, 32, 32, 0.6);
  --color-h-dark: rgba(0, 0, 0, 0.8);
  --color-p-light: rgba(236, 236, 236, 0.8);
  --color-h-light: rgba(255, 255, 255, 0.95);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #212529;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 6px;
}

.btn- {
  transition: 0.3s;
  outline: none;
  border: none;
}

.primary-bg {
  background-color: var(--primary-color);
}

.btn-success {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

a {
  text-decoration: none;
  color: white;
}

.top {
  padding-top: 86px;
}

body {
  scroll-behavior: smooth;
  font-family: "cairo", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-p-dark);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #37ae768a;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #37ae768a;
}
/* end globle rule */

/* start general things */
.svg-bottom {
  display: block;
  position: absolute;
  bottom: -1px;
  z-index: 999;
  right: 0px;
}

.svg-top {
  display: block;
  position: absolute;
  top: -1px;
  z-index: 999;
  transform: rotate(180deg);
  right: 0px;
}

@media (max-width: 790px) {
  .svg-bottom {
    display: none;
  }
  .svg-top {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  opacity: 0.7;
  border-radius: 50%;
  z-index: 99999999;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  visibility: hidden;
  line-height: -5;
}
/* end general things */

/* start logo */
.logo_inframe a {
  text-decoration: none;
  position: relative;
  padding: 7px 7px;
  color: var(--color-h-light);
  font-size: 40px;
  left: 0;
}

.logo_inframe * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.logo_inframe a:before,
.logo_inframe a:after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  color: var(--color-h-light);
}

.logo_inframe a:before {
  right: -6px;
  top: 26px;
  border-right: 3px solid var(--primary-color);
  border-top: 3px solid var(--primary-color);
  -webkit-transform: translate(-100%, 50%);
  transform: translate(-100%, 50%);
}

.logo_inframe a:after {
  left: -6px;
  bottom: 16px;
  border-left: 3px solid var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  color: var(--color-h-light);
}

.logo_inframe a:hover:before,
.logo_inframe a:hover:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
  color: var(--color-h-light);
}

.logo_inframe :hover {
  color: var(--color-h-light);
}
/* end logo */

/* start header */
.home-header {
  background-image: url("../img/recycle-globe-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  height: calc(100vh + 25px);
  position: relative;
}

.nav-item {
  position: relative;
}

.nav-item a {
  margin-left: 25px;
  font-size: 22px;
  color: var(--color-h-light);
  text-transform: capitalize;
}

.nav-item a:hover {
  transition: 0.3s;
  color: var(--primary-color);
}

@media only screen and (max-width: 766px) {
  .nav-item:not(.nav-item:last-child) {
    margin-bottom: 10px;
  }
  .nav-item:not(.nav-item:last-child)::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -50%;
    background-color: var(--color-3);
    width: calc(200vw);
    height: 2px;
  }
}

.hero {
  height: calc(100% - 25px);
}

.hero .hero-text {
  height: 70%;
}

.hero .hero-text .hero-head {
  color: var(--color-h-light);
  font-size: 60px;
}

.hero .hero-text p:last-child {
  color: var(--color-p-light);
  font-size: 20px;
}

.hero-last {
  background-color: var(--primary-color);
  padding-top: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.hero-last .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: 0.8;
}

.hero-last-card {
  width: 23%;
}

.hero-last-card p {
  color: var(--color-h-light);
}

.hero-last-card p span {
  font-weight: bold;
  font-size: 19px;
}

@media (max-width: 768px) {
  .hero .hero-text .hero-head {
    font-size: 53px;
  }

  .hero-last-card {
    width: 50%;
    margin-top: 20px;
  }

  .hero .hero-text {
    height: 70%;
  }

  .hero .hero-text p:last-child {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .hero .hero-text .hero-head {
    font-size: 36px;
  }
  .hero-last-card {
    width: 100%;
  }

  .hero .hero-text {
    height: 50%;
  }

  .hero .hero-text p:last-child {
    font-size: 16px;
  }
}

@media (max-height: 900px) and (max-width: 576px) {
  .home-header {
    height: calc(100vh + 200px);
  }
  .hero .hero-text {
    height: 40%;
  }
}

@media (max-height: 800px) and (max-width: 576px) {
  .home-header {
    height: calc(100vh + 250px);
  }
  .hero .hero-text {
    height: 40%;
  }
}

@media (max-height: 999px) and (max-width: 576px) {
  .home-header {
    height: calc(100vh + 290px);
  }
  .hero .hero-text {
    height: 45%;
  }
}

@media (min-height: 1000px) {
  .home-header {
    height: calc(100vh + 25px);
  }
  .hero .hero-text {
    height: 70%;
  }
}

.home-header .rec {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: var(--primary-color);
}
/* the last ofnivn in the hero  */

/* end header */

/* start material */
.material {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-sbg-alt);
  background-image: url("../img/pattern-1.png");
  padding: 90px 0px 90px 0px;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
}

.material .container .text {
  margin-bottom: 60px;
}

.material .container .text h2 {
  color: #22aa86 !important ;
  font-weight: 600;
  letter-spacing: 1.3px;
  font-size: 50px;
  color: var(--color-h-dark);
}

.material .container .card-title:hover {
  color: var(--primary-color);
}

.material .container .card-title {
  transition: all 0.3s;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 10px;
  margin-bottom: 6px;
}

.material .container .text p {
  color: var(--color-p-dark);
  text-transform: capitalize;
  line-height: 24px;
  font-size: 18px;
  position: relative;
}

.material .container .text p::after {
  content: "";
  width: 150px;
  height: 2px;
  border-bottom: 2px;
  border-bottom: 2px solid var(--color-p-dark);
  text-align: inherit;
  bottom: -15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
}

.material-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  flex-direction: row;
}

.material-cards .card img {
  width: 80px;
  margin: auto;
}

.material-cards .card {
  box-sizing: border-box;
  position: relative;
  transition: 0.3s;
  background-color: transparent;
  padding: 0;
}

.material-cards .card a {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translatex(-50%);
}

@media only screen and (min-width: 1200px) {
  .material-cards .card {
    width: 20%;
    height: 340px;
  }
}
@media only screen and (max-width: 1400px) {
  .material-cards .card {
    width: 25%;
    height: 320px;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1200px) {
  .material-cards .card {
    width: 33.33%;
    height: 320px;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 990px) {
  .material-cards .card {
    width: 50%;
    height: 320px;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 790px) {
  .material-cards .card {
    width: 100%;
    margin-top: 70px;
    height: 100%;
    position: static;
  }
  .material .container .text h2 {
    font-size: 35px;
    padding: 0 10px;
  }
  .material-cards .card a {
    position: static;
    margin-top: 15px;
    transform: translateY(0);
  }
}

.material-cards .card p {
  font-size: 14px;
  margin-top: 20px;
  color: var(--color-p-dark);
}

/* end material */

/* start article */
.articles {
  background-image: url(../img/cool-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.articles-contant {
  position: relative;
  z-index: 9;
}

.content {
  position: relative;
}

.articles .overlay {
  background: linear-gradient(-45deg, #9cc026, #22aa86);
  opacity: 0.85;
  pointer-events: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.articles .articles-text {
  padding: 90px 30px 40px 30px;
}

.articles .articles-text h2 {
  font-size: 32px;
  color: var(--color-h-light);
  position: relative;
  text-align: center;
}

.articles .articles-text h2::after {
  content: "";
  width: 48px;
  height: 2px;
  border-bottom: 2px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.07);
  text-align: inherit;
  bottom: -12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.articles .container {
  padding: 0 20px;
}

.articles .articles-text p {
  text-align: center;
  color: var(--color-h-light);
  margin-bottom: 12px;
  margin-top: 35px;
  font-family: "Source Sans Pro";
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

.slid {
  position: relative;
}

.swiper-button-next {
  right: -40px;
  top: 40%;
}

.slid {
  padding-bottom: 90px;
}

@media only screen and (max-width: 1400px) {
  .swiper-slide .card {
    height: 350px;
  }
  .learn-more {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translatex(-50%);
  }
}

@media (max-width: 520px) {
  .swiper-slide .card {
    height: 257px;
  }
}

.swiper-button-prev {
  left: -50px;
  top: 40%;
}

.meta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 12px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.meta .date {
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

.meta .entry-meta {
  color: var(--color-p-dark);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
}

.primary-hover:hover {
  color: var(--primary-color);
}

.separator {
  color: #bcbfbb;
  width: 6px;
  opacity: 0.4;
  font-size: 12px;
  line-height: 12px;
}

.card {
  box-sizing: border-box;
  padding: 30px;
  border: none;
  color: var(--color-h-dark);
}

.card .item-title {
  columns: var(--color-h-dark);
  margin-bottom: 0;
  transition: all 0.3s;
}

.card .excerpt {
  padding: 0;
  margin-top: 6px;
  color: var(--color-p-dark);
}

.learn-more {
  margin: auto;
  margin-top: 17px;
  background: var(--primary-color);
  width: fit-content;
  color: var(--color-h-light);
  transition: all 0.2s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.learn-more:hover {
  background-color: #089670;
  color: var(--color-h-light);
}
/* end article */

/* start news  */
.news {
  /* background-color: var(--color-sbg-alt); */
  background-image: url(https://recycle.orionthemes.com/demo-1/wp-content/uploads/2016/12/cool-background.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  padding: 90px 30px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.news .overlay {
  background: linear-gradient(-45deg, #9cc026, #22aa86);
  opacity: 0.7;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  z-index: -1;
}

.news .container {
  z-index: 1;
}

.news .svg-bottom {
  width: calc(100% + 40px);
  left: -20px;
}

.news-text h2 {
  font-size: 50px;
  color: white;
  position: relative;
  text-align: center;
}
.news-text p {
  font-size: 18px;
  color: var(--color-p-light);
  position: relative;
  text-align: center;
  letter-spacing: 1.2px;
}

.form-alert {
  text-align: left;
  margin-bottom: -30px;
  visibility: hidden;
}

.news-success {
  visibility: hidden;
}

.news form {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  gap: 20px;
  margin-top: 50px;
}

.input-g {
  display: flex;
  justify-content: flex-start;
}

.input-g input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--color-h-light);
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
}

.input-g {
  position: relative;
}

.input-g input {
  padding: 13px;
}

.input-g i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-color);
}
@media (max-width: 1000px) {
  .news form {
    display: block;
  }

  .input-g input:not(input[type="text"]) {
    margin-top: 20px;
  }

  .input-g input[type="submit"] {
    margin: 20px auto;
  }

  .input-g i {
    right: 15px;
    top: 60%;
  }
}
/* end news */

/* Footer */
:root {
  --footer-primary-color: #1f464d;
  --footer-secondary-color: #4eaf7a;
  --footer-button-color: #4eb077;
  --footer-button-hover: #328857;
  --footer-font-color: #fff5da;
  /* --third-font-color: #fff9e6; */
  --footer-second-font-color: #fffaf5;
}

#footer a {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}

#footer i {
  color: var(--footer-secondary-color) !important;
  font-size: 1.3rem !important;
  transition: all 0.5s ease;
}

#footer {
  background-color: var(--footer-primary-color);
  min-height: 400px;
  padding: 3.5rem 2rem;
}

#footer * {
  color: var(--footer-font-color);
  text-transform: capitalize;
  transition: all 0.5s ease;
}

#footer .main-title {
  text-transform: none !important;
}

#footer .contents {
  display: flex;
  flex-wrap: wrap;
}

#footer .contents > div {
  width: calc(100% / 4);
}

.content {
  display: flex;
  flex-direction: column;
}

#footer .icons-container {
  display: flex;
  gap: 1rem;
}

#footer .logo {
  cursor: pointer;
  width: 12rem;
}

#footer .icon-holder {
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.5s ease;
  color: var(--footer-secondary-color);
}

#footer .icon-holder:hover {
  background-color: var(--footer-secondary-color);
}

#footer .icon-holder:hover i {
  color: var(--footer-second-font-color) !important;
}

#footer .contact-us {
  background-color: transparent;
  color: var(--footer-button-color) !important;
  border: 2px solid var(--footer-button-color);
  border-radius: 6px;
  padding: 0.75rem 3rem;
  font-weight: 600;
  transition: background-color 0.5s ease;
}

#footer .contact-us:hover {
  /* font-weight: 600; */
  color: var(--footer-second-font-color) !important;
  background-color: var(--footer-button-color);
}

#footer .head {
  font-size: 1.6rem;
  position: relative;
  width: fit-content;
  margin-bottom: 2rem;
}

#footer .head::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 90px;
  height: 3px;
  background-color: var(--footer-button-hover);
}

.footer-list {
  list-style: none;
  padding-left: 1rem;
}

.footer-list li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-list a {
  font-size: 1.2rem;
  /* font-weight: 600; */
  transition: all 0.5s ease !important;
}

.footer-list li a:hover {
  color: var(--footer-secondary-color) !important;
  padding-left: 8px !important;
}

@media (max-width: 1145px) {
  #footer .contents > div {
    width: calc(100% / 3);
  }
  .footer-list a {
    font-size: 1.1rem !important;
  }
}

@media (max-width: 820px) {
  #footer .contents > div {
    width: calc(100% / 2);
  }
  #footer .contents {
    row-gap: 1rem;
  }
}

@media (max-width: 625px) {
  #footer .contents > div {
    width: calc(100%);
  }
  .contact-us-btn,
  .footer-list,
  .icons-container {
    padding-left: 1.5rem !important;
  }

  .follow {
    margin-bottom: 1.4rem;
  }
}

/* end footer */
/* start contact */
.contact .container {
  padding: 60px 20px;
  background-color: var(--color-sbg-alt);
}

.contact .container .text {
  padding-right: 30px;
}

.contact .container .text h2 {
  font-size: 40px;
  color: var(--color-h-dark);
}

.contact .container .text .sub-p {
  font-size: 15px;
  color: var(--color-p-dark);
  line-height: 1.4;
}

.contact .container .text .icon-card {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.contact .container .text .icon-card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  color: var(--color-h-light);
  height: 50px;
  margin-right: 20px;
  font-size: 25px;
}

.container .text .office {
  margin-bottom: 30px;
}

.contact .container .text .icon-card .icon-text {
  width: 80%;
}

.contact .container .text .icon-card .icon-text h3 {
  margin-bottom: 0px;
  color: var(--color-3);
}

.contact .container .text .icon-card .icon-text p {
  color: var(--color-p-dark);
  margin-bottom: 0;
}

.container .text .phone .icon {
  background-color: var(--primary-color);
}

.container .text .office .icon {
  background-color: var(--secondary-color);
}

.contact .container .contact-form input {
  width: 100%;
  padding-left: 20px;
  margin-bottom: 30px;
  padding-right: 20px;
  height: 50px;
}

.contact .container .contact-form textarea {
  padding: 15px 20px;
}

.contact-form .contact-input {
  position: relative;
}

.contact .container .contact-form .contact-input i {
  position: absolute;
  right: 25px;
  top: 33%;
  transform: translateY(-50%);
  color: var(--primary-color);
  font-size: 20px;
}

@media (max-width: 1200px) {
  .contact .container .contact-form .contact-input i {
    top: 30%;
  }
}

.contact .container .contact-form button {
  background-color: var(--primary-color);
  color: var(--color-h-light);
  padding: 12px 30px;
  line-height: 24px;
  outline: none;
  border: none;
  margin-top: 30px;
}
/* end contact */

/* start about-us */
@media (min-width: 600px) {
  .about-us {
    display: grid;
    grid-template-columns: 550px 550px;
    grid-template-areas:
      "title title"
      "line line"
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card7";
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    gap: 5px;
    padding-bottom: 35px;
  }
}

@media (max-width: 600px) {
  .about-us {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title "
      "line"
      "card1 "
      "card2 "
      "card3"
      "card4"
      "card5"
      "card6";
  }
  .about-us .box1 {
    justify-self: center;
  }
  .about-us form {
    width: 300px;
  }
}
.about-us .title {
  color: #22aa86;
  margin: auto;
  text-align: center;
  font-size: 40px;
  margin: 5px;
}
.about-us .card1 {
  grid-area: card1;
}
.about-us .card2 {
  grid-area: card2;
}
.about-us .card3 {
  grid-area: card3;
}
.about-us .card4 {
  grid-area: card4;
}
.about-us .card5 {
  grid-area: card5;
}
.about-us .card6 {
  grid-area: card6;
}
.about-us .card7 {
  grid-area: card7;
  justify-self: center;
}

.about-us .box1 {
  display: grid;
  grid-template-columns: 150px 120px 160px;
  grid-template-areas:
    "img text1 text1"
    "img text2 text2"
    "img par par"
    "img bot bot";
  background-color: #eee;
  width: fit-content;
  padding: 15px 10px 15px 10px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: 20px;
  margin: 10px;
}

.about-us.about-us .box1 h6 {
  grid-area: text1;
  /* letter-spacing: 2px; */
  font-weight: 500;
  margin: 0;
  margin-top: 20px;
}
.about-us .box1 h1 {
  grid-area: text2;
  margin: 0;
  color: #22aa86;
}
.about-us .box1 p {
  grid-area: par;
  font-size: 12px;
}
.about-us .img1 {
  grid-area: img;
}
.about-us .img1 img {
  width: 85%;
  margin-top: 25px;
  border-radius: 50%;
}
.about-us .box1 button {
  grid-area: bot;
  width: 50%;
  padding: 8px 10px;
  height: 100%;
  color: #22aa86;
}
/* end about-us */

/* start services */
.services {
  padding: 100px 30px;
  background-color: var(--color-sbg-alt);
  display: flex;
}

.services .services-text {
  width: 50%;
  padding-right: 30px;
}

.services .services-text h1 {
  font-size: 40px;
  color: var(--color-h-dark);
}

.services .services-text .lead {
  color: rgba(0, 0, 0, 0.6);
  font-size: 21px;
}

.services .services-text p {
  color: rgba(0, 0, 0, 0.5);
}

.services .services-text a {
  font-size: 19px;
  padding: 8px 25px;
  margin-top: 10px;
}

.services .services-chart {
  width: 50%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 991px) {
  .services {
    flex-direction: column;
  }

  .services .services-chart,
  .services-text {
    width: 100% !important;
  }
  .services-text {
    margin-bottom: 50px;
  }
}

.services-chart .progress-bar-wrap {
  width: 100%;
  margin-bottom: 25px;
}

.services-chart .progress-bar-title {
  display: flex;
  position: relative;
}

.services-chart .progress-bar-title span {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.services-chart .progress-bar-wrap .progress-bar-title h3,
.progress-bar-title span {
  color: var(--color-p-dark);
}

.services-chart .progress-bar-wrap .progress-bar {
  width: 0;
  border-radius: 2px;
  height: 12px;
}

.progress-bar {
  transition: 0.5s;
}

.progress-bar-bg {
  background-color: rgba(0, 0, 0, 0.1);
}
/* end services */
